*{
    margin :0;
    padding : 0;

}

img {
    width: 100%;
    height: 100%;
}


.hd{
    display: flex;
}

.air{
    padding: 24px 10px 5px 30px;
}

.mid{
    margin: 25px 2px 2px 420px;
    padding: 10px 10px 10px 10px;
   
}

.mid button{
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
    border: white ;
}

.last{
    margin: 25px 25px 5px 350px;
}
.last button{
    border: white ;
}


.yourhome{
     font-size: 15px ;
}

.globe{
    padding: 2px 2px 2px 2px;
    margin: 25px 2px 2px 5px;
}

.globe img{
    width: 23px;
    height: 23px;
}

#menu{
    padding: 2px 2px 2px 2px;
    margin: 25px 2px 2px 5px;
}
#account{
    padding: 2px 2px 2px 2px;
    margin: 25px 2px 2px 5px;
}

.b1{
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    border: white;
}


.buttons{
    margin: 0px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
   


}
.icon{
    width: 23px;
    height: 23px;
    margin: auto;
    padding: auto;
}

.icons{
    display:flex;
    flex-direction:  row ;
}
.image{
    display: grid;
    grid-column: auto;
}




