*{
    margin: 0;
    padding: 0;
}
nav {
    background-color: aliceblue;
    padding: 15px;
    color: black;
    text-align: center;
}
nav span{
    padding: 8px;
    margin: 0px 10px 0px 10px;
}
ul{
    
}