h1{
    text-align: center;
}
nav span{
    margin: 140px;
}
nav {
    background-color: black;
    color: white;
    padding: 5px;
}  
button {
    background-color: skyblue;
    border-radius: 5px;
}
div{
    border:  solid black 2px;
    background-color: rgb(221, 8, 8,0.5);
    padding: 5px;
    height: 50px;
}
#content2 {
    background-color: rgba(217, 233, 3, 0.5);
    border: solid black 2px;
    height: 103px;

}
#content3{
    background-color: rgb(13, 235, 61);
    border: solid black 2px;
    height: 104px;
}
div{
    height: 100px;
    width: 100px;
}